openapi: 3.0.3
info:
  title: Explorium AgentSource Business Enrichments API
  description: The Explorium AgentSource API is a single external-data and enrichment API for AI agents and go-to-market teams. It exposes match, fetch, statistics, autocomplete, enrichment, bulk enrichment, and event/enrollment endpoints over a business dataset (150M+ companies) and a prospect dataset (800M+ people) aggregated from 100+ external sources. All endpoints are hosted at https://api.explorium.ai and authenticated with an API key sent in the API_KEY request header. Access is gated behind an Explorium account and a credit balance (a free developer tier of 100 credits is available), so this document is honestly modeled from Explorium's published OpenAPI index and reference pages - the endpoint paths and HTTP methods are confirmed from Explorium's own documentation, while request and response schemas are represented at a representative level. Not every one of the 30+ enrichment endpoints is enumerated here; a representative subset is included. endpointsModeled - request/response bodies are modeled; paths are confirmed.
  version: '1.0'
  contact:
    name: Explorium
    url: https://developers.explorium.ai
servers:
- url: https://api.explorium.ai
  description: Explorium AgentSource API production
security:
- apiKeyHeader: []
tags:
- name: Business Enrichments
  description: Firmographic, technographic, financial, and operational company enrichments.
paths:
  /v1/businesses/firmographics/enrich:
    post:
      operationId: enrichFirmographics
      tags:
      - Business Enrichments
      summary: Enrich firmographics
      description: Return firmographic attributes (industry, size, revenue band, location, founding year) for a single matched business_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichRequest'
      responses:
        '200':
          description: Firmographic enrichment record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/businesses/technographics/enrich:
    post:
      operationId: enrichTechnographics
      tags:
      - Business Enrichments
      summary: Enrich technographics
      description: Return the detected technology stack for a matched business_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichRequest'
      responses:
        '200':
          description: Technographic enrichment record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/businesses/firmographics/bulk_enrich:
    post:
      operationId: bulkEnrichFirmographics
      tags:
      - Business Enrichments
      summary: Bulk enrich firmographics
      description: Enrich firmographics for up to 50 business_id values in a single request against the shared credit pool.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEnrichRequest'
      responses:
        '200':
          description: Firmographic enrichment records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    EnrichRequest:
      type: object
      required:
      - business_id
      properties:
        business_id:
          type: string
          description: For prospect enrichments this is prospect_id instead.
    BulkEnrichRequest:
      type: object
      properties:
        business_ids:
          type: array
          maxItems: 50
          items:
            type: string
        prospect_ids:
          type: array
          maxItems: 50
          items:
            type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    EnrichResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: API_KEY
      description: API key issued in the Explorium admin portal at https://admin.explorium.ai/api-key and sent in the API_KEY request header.
